@model IEnumerable<DatabaseAccess.ProgrameSessionTable>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Program Configuration", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Program Session</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Program
                        </th>
                        <th>
                            Session
                        </th>
                        <th>
                            Detail
                        </th>
                        <th>
                            RegDate
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                              <td>
                                @Html.DisplayFor(modelItem => item.ProgrameTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>                       
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td class="btn-group ">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProgrameSessionID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ProgrameSessionID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProgrameSessionID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>

                   

            </table>
        </div>
    </div>
</div>
