@model DatabaseAccess.TimeTblTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeTblTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassSubjectTable.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSubjectTable.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomTable.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomTable.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionProgrameSubjectSettingTable.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionProgrameSubjectSettingTable.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeTableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
