

@model IEnumerable<DatabaseAccess.StudentPromoteTable>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Annual Fee</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentTable.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PromoteDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AnnualFee)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsSubmit)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.ClassTable.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProgrameSessionTable.Details)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SectionTable.SectionName)
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.StudentTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PromoteDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnnualFee)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSubmit)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrameSessionTable.Details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SectionTable.SectionName)
                        </td>

                        <td class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.StudentPromoteID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.StudentPromoteID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.StudentPromoteID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>