@model DatabaseAccess.SubmissionFeeTable

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add A New Tution Fee</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Enter Promote ID" id="promoteid" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value="Find" id="FindPromoteRecord" />
                    </div>
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Student_ID, "Select Student", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.DropDownList("Student_ID", null, htmlAttributes: new { @class = "form-control", @id = "Student_ID" })
                    @Html.ValidationMessageFor(model => model.Student_ID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Programe_ID, "Select Program", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.DropDownList("Programe_ID", null, htmlAttributes: new { @class = "form-control", @id = "Programe_ID" })
                    @Html.ValidationMessageFor(model => model.Programe_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClassID, "Select Class", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control", @id = "ClassID" })
                    @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubmissionDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FeesMonth, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.FeesMonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FeesMonth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-defaut" })
                </div>
            </div>
        </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#FindPromoteRecord').click(function () {
            $.ajax({
                url: '@Url.Action("GetByPromoteId", "SubmissionFeeTables")',
                type: 'GET',
                data: {
                    sid: $('#promoteid').val() },
                dataType: 'Json',
                success: function (response) {
                    $('#Student_ID').val(response.StudentID);
                    $('#ClassID').val(response.ClassID);
                    $('#Programe_ID').val(response.ProgrameID);

                },
                error: function () {

                }
            });
        });

    });
</script>